body {
    background-image: url(fundal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

a, h1, h2, p {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cutie {
  border-style: solid;
  padding: 5px;
  border-radius: 10px;
  border-color: aliceblue;
  width: 200px;
  height: 200px;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(500px);

}

.articol {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}


header { 
  display: flex;
  justify-content: center;
}
